:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.navbar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  display: block;
}

.nav-link:hover {
  background-color: #dddddd7c;
  color: black;
  border-radius: 8px;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.form-container, .task-list-container {
  margin: 20px auto;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-table {
  width: 100%;
  margin: 10px 0;
}

.form-control {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-signin {
  background-color: #4285f4;
  color: white;
}

.btn-signout {
  background-color: #ea4335;
  color: white;
}

.btn-submit {
  background-color: #34a853;
  color: white;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #ffffff08;
  color: #ececec;
}

.task-item.completed {
  text-decoration: line-through;
  color: gray;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-header h3 {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los botones */
}

.task-due {
  font-style: italic;
  color: #c2c2c2;
}

.task-list-container li h3 {
  margin: 0;
}

.task-list-container li p {
  margin: 5px 0;
}

.textarea {
  width: 95%;
  padding: 100px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el contenedor del checkbox */
.task-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: 3px solid #4896f4;
  border-radius: 45px;
  cursor: pointer;
  position: relative;
}

/* Estilo cuando el checkbox está marcado */
.task-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}

/* Estilo para el checkmark */
.task-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 7px;
  width: 9px;
  height: 18px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  border-radius: 3px;
}

/* Estilo para el checkbox en hover */
.task-checkbox:hover {
  border-color: #888;
}

/* Estilo para el checkbox en focus */
.task-checkbox:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.25);
}

.btn-delete {
  background-color: #ea4335;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.btn-delete:hover {
  background-color: #d32f2f;
}

.btn-delete:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(234, 67, 53, 0.5);
}